html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*,*:before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}
h2, h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: #000 ;
}


img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin-inline: auto;
}

.btn {
    background-color: #8cbc00;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: #769c02;
}

/* Utilidades */
.text-center {
    text-align: center;
}

/* Header y Navegación */

.contenedor-navegacion {
    border-top: .1rem #e1e1e1 solid;
}

.nombre_sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre_sitio span {
    color: #037bc0;
}

.nav-principal {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.hero {
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categorias */
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categorias {
    padding-top: 5rem;
}

.categorias h2 {
    text-align: center;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

/* Sobre nosotros */
.sobre_nosotros {
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10rem 0;
    background-size: 100%, 120rem;
}

.sobre_nosotros_grid {
    display: flex;
    justify-content: flex-end;

}

.texto-nosotros {
   flex-basis: 50%;
   padding-left: 10rem;
}

/* Listado de productos */
.contenido_principal {
    padding-top: 5rem;
}

.producto {
  background-color: #037bc0;  
}

.text-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.text-producto h3{
    margin: 0;
}

.text-producto p {
    margin: 0 0 .5rem 0;
}


.text-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.listado_productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto:nth-child(1) {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 48rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2) {
    grid-column: 1 / 4;
}

.producto:nth-child(2) img, 
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3) {
    grid-column: 4 / 7;
}

.producto:nth-child(4) {
    grid-column: 1 / 3;
}
.producto:nth-child(5) {
    grid-column: 3 / 5;
}
.producto:nth-child(6) {
    grid-column: 5 / 7;
}

/* Footer */
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
}

.contenedor_footer {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu_footer {
    display: grid;
    grid-template-rows: 1fr;
}

.copyright {
    margin-top: 5rem;
}